/*============================Canv===========================*/

.canv {
    color: azure;
}

body {
    background-color: black;
}

main {
    position: relative;
    z-index: 4;
    height: 100vh;
    background-color: transparent;
}

.b_g {
    opacity: .6;
}

canvas {
    top: 0;
}

.selection {}


/*================================================================*/


/*================================================================*/


/*================================================================*/


/*================================================================*/


/*================================================================*/