/*============================Canv===========================*/

.canv {
    color: #fff;
}

body {
    background-color: #242526;
}

main {
    position: relative;
    z-index: 4;
    background-color: transparent;
    min-height: 100vh;
}

.b_g {
    opacity: .6;
}

canvas {
    top: 0;
}

.canv input,
.canv textarea {
    color: #9da0a4;
    line-height: 35px;
    background-color: #3a3b3c;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #263951;
    color: #2e89ff;
}

.swichable {
    animation: bounce 1s linear;
}

.switch.first {
    display: none;
}

.switch {
    background-color: #9da0a4;
    max-height: 50px;
}

.tab-content {
    padding: 20px 0;
}

.switch img {
    width: 35px;
}

.card {
    background-color: transparent;
    text-align: center;
}

.card .card-img-top {
    height: 300px;
}

.owl-carousel .owl-dots {
    bottom: -20px;
}

.owl-carousel .owl-nav [class*='owl-'] {
    background-color: #000;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
}

.owl-carousel .owl-nav span {
    position: absolute;
    top: -22px;
    left: 35%;
}

.my-cosmos-music {
    display: none;
}

#lasttab {
    animation: flash 1s linear;
}

@media(max-width:1000px) {
    .canv input,
    .canv textarea {
        line-height: 30px;
    }
}

@media(max-width:768px) {
    .canv input,
    .canv textarea {
        line-height: 25px;
    }
}

@media(max-width:420px) {
    .selection h2 {
        font-size: 13px;
    }
}